<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>No Such User</title>
<link rel="shortcut icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/miscellaneous-31/60/notepad-128.png" />
<style type="text/css">
body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}
</style>
</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">User Not Found</span>
                <div class="mb-4 lead">No such username exists, sorry!</div>
                <a href="{{ url_for('index') }}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
